RewriteEngine On

# Redirect asset path myesc.id/ ke root
RewriteCond %{REQUEST_URI} ^/myesc\.id/(.*)$
RewriteRule ^myesc\.id/(.*)$ $1 [L]

# Rule CI3
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]